{% extends 'base.html' %} 

{% block head %}
<title>Home</title>
{% endblock %}

{% block content %}
<h2>Welcome to your inventory app {{user.username|title}}</h2>
<div id="intro">
  <p>From here you have access to your inventory management system.</p>
  <p>You can see the current iventory and add new ingredients to the inventory.</p>
  <p>You can view the items on the menu and their recipe requirements. Add new menu items and set thier requirements.</p>
  <p>You can view and create new purchases and see a breakdown of the costs, revenue and profit.</p>
</div>
    
{% endblock %}

