{% extends 'base.html' %}

{% block head %}
<title>Ingredients</title>
{% endblock %}

{%  block content %}
<h2>Here is the current inventory</h2>
{% comment %}
<div>
    <a href="{% url 'inventory_create' %}">Add an inventory item</a>
</div>
{% endcomment %}
<div id="ingredients_list">
    <table class="table">
        <tr>
            <th>Ingredient</th>
            <th>Quantity</th>
            <th>Price/Unit</th>
            <th></th>
            <th></th>
        </tr>

        {% for ingredient in object_list %}
        <tr>
            <td id="ingredient">{{ingredient.name|title}}</td>
            <td>{{ingredient.quantity}}</td>
            <td>£{{ingredient.price}}</td>
            <td id="button"><a id="ingredient-link" href="{% url 'inventory_update' ingredient.id %}">Update</a></td>
            <td id="button"><a id="ingredient-link" href="{% url 'inventory_delete' ingredient.id %}">Remove</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}