<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block head %}
    {% endblock %}
  </head>

  <body>
    <header>
      <div class="nav-bar">
      <a id="home" href="{% url 'home' %}"><img src="{% static 'logo.jpg' %}" alt="home"></a>
      <h1>Django Delights</h1>
      
      <ul id="nav-list">     
        <li><a href="{% url 'inventory' %}">Ingredients inventory</a></li>
        <li><a href="{% url 'inventory_create' %}">Add an inventory item</a></li>
        <li><a href="{% url 'menu_items' %}">Menu items</a></li>
        <li><a href="{% url 'view_purchases' %}">Purchases made</a></li>
        <li><a href="{% url 'purchase_create' %}">Create a new purchase</a></li>
        <li><a id="logout" href="{% url 'logout' %}">Logout</a></li>
      </ul>

    </div>

    

  </header>

    {% block content %}

    {% endblock %}
 </body> 
</html>
